.contact {
	margin: 4rem 0;
	text-align: center;
	color: $secondary;

	@media (max-width: 576px) {
		margin: 2rem 0;
	}
}

.contact__title {
	margin-bottom: 1rem;

	font-weight: 500;
	font-size: 4.2rem;

	@media (max-width: 576px) {
		font-size: 3rem;
	}
}

.contact__text {
	margin-bottom: 5rem;

	font-size: 2rem;

	@media (max-width: 576px) {
		margin-bottom: 2rem;

		font-size: 1.8rem;
	}
}

.contact__form {
	max-width: 450px;
	width: 100%;
	padding: 2rem;
	margin: 0 auto;

	border: 1px solid $secondary;
	border-radius: 5px;
}

.contact__input,
.contact__textarea {
	width: 100%;
	margin-bottom: 2rem;
	padding: 1rem;

	border: none;
	border-bottom: 1px solid $secondary;
	color: inherit;
	font-size: 1.6rem;

	@media (max-width: 576px) {
		font-size: 1.4rem;
	}
}

.contact__input {

	&::placeholder {
		font-size: 1.4rem;
		color: lighten($primary, 5%);
	}

	&:focus {
		background-color: $gray;
	}
}

.contact__textarea {
	height: 200px;

	resize: none;
	font-family: inherit;
}