.promocode {
	padding-bottom: 2rem;
}

.promocode__label {
	margin: 2rem;

	font-weight: 500;
	font-size: 1.6rem;
	color: lighten($red, 25%);

	@media (max-width: 768px) {
		margin: 1rem;

		font-size: 1.3rem;
	}
}

.promocode__item {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	margin-bottom: 0.8rem;

	background-color: $gray;
	border-radius: 5px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (max-width: 768px) {
		padding: 1rem 0;
	}

	@media (max-width: 576px) {
		flex-direction: column;
	}
}

.promocode__value {
	width: 30%;
	padding: 0 3rem;

	@media (max-width: 768px) {
		padding: 0 1rem;
		width: 20%;
	}

	@media (max-width: 576px) {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}

.promocode__number {
	color: $red;
	text-decoration: none;
	font-size: 6rem;
	font-weight: 500;

	&:hover {
		font-weight: 700;
	}

	@media (max-width: 768px) {
		margin: 1rem;


		font-size: 5rem;
	}
}

.promocode__valid {
	color: $secondary;
}

.promocode__info {
	width: 70%;
	padding: 0 3rem;

	text-align: center;

	@media (max-width: 768px) {
		width: 80%;
		padding: 0 1rem;
	}

	@media (max-width: 576px) {
		width: 100%;
	}

}

.promocode__title {
	margin-bottom: 1rem;

	font-size: 2.8rem;

	a {
		color: inherit;
		text-decoration: none;
	}

	@media (max-width: 576px) {
		font-size: 2.1rem;
	}
}

.promocode__text{
	color: $secondary;

	strong {
		font-weight: 700;
	}
}

.promocode__wrap {
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media (max-width: 576px) {
		flex-wrap: wrap;
	}
}

.promocode__coupon {
	padding: 1rem;
	margin-right: 1rem;
	font-size: 3.6rem;
	line-height: .9;

	border: 3px dashed $red;

	a {
		text-decoration: none;
		color: inherit;
	}

	@media (max-width: 768px) {
		font-size: 2rem;

		border: 2px dashed $red;
	}

	@media (max-width: 576px) {
		margin-bottom: 1rem;
	}
}