.promo-section {
	padding: 4rem 0;
	text-align: center;

	&--green {
		background-color: $light-green;

		.promo__text {
			border-bottom: 2px solid $primary;
			border-top: 2px solid $primary;
		}
	}

	@media (max-width: 768px) {
		padding: 2rem 0;
	}
}

.promo__text {
	padding: 1rem;
	margin-bottom: 2rem;

	color: $secondary;
	border-bottom: 2px solid $gray;
	border-top: 2px solid $gray;

	@media (max-width: 768px) {
		margin-bottom: 1rem;
	}

}

.promo__title {
	margin-bottom: 1rem;

	font-size: 3rem;
	text-transform: uppercase;

	b {
		font-weight: 700;
	}

	@media (max-width: 992px) {
		font-size: 1.9rem;
	}

	@media (max-width: 576px) {
		font-size: 1.6rem;
	}
}

.promo__subtitle {
	font-size: 2.4rem;
	font-weight: 700;

	@media (max-width: 992px) {
		font-size: 1.8rem;
	}

	@media (max-width: 576px) {
		font-size: 1.5rem;
	}
}