<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__col">
				<form class="subscribe-form" method="/" action="post">
					<div class="subscribe-form__title">LikeHerb — свежие скидки Айхерб, промокоды iHerb, статьи о витаминах и минералах для здоровья и продления молодости. Подпишись чтобы не пропустить актуальные скидки.</div>
					<input class="subscribe-form__input" type="email" name="sub-email" placeholder="E-mail" required>
					<button class="btn btn--subscribe" type="submit">Подписаться</button>
				</form>
			</div>

			<div class="footer__col">
				<div class="social">
					<div class="social__text">Напиши нам в соц. сетях:</div>
					<div class="social__links">
						<a href="https://www.facebook.com/">
							<i class="icon-facebook"></i>
						</a>
						<a href="https://www.instagram.com/">
							<i class="icon-instagram"></i>

						</a>
						<a href="https://web.telegram.org/">
							<i class="icon-telegram"></i>
						</a>
					</div>
					<div class="social__text">Контактный адрес эл. почты: <a href= "mailto: abc@gmail.com">abc@gmail.com</a></div>
				</div>

				<div class="footer__text">Likeherb 2020 Все права принадлежат их владельцам. Копирование материалов сайта abc.com запрещено правообладателем.</div>
			</div>

			<div class="footer__col">
				<div class="footer__text">Вебсайт Likeherb не представляет ничьи официальные интересы, не является официальным источником информации ни для какого бренда, интернет-магазина либо другого проекта, название которого встречается на страницах сайта abc.com, в блоге, в записях или сообщениях официальных групп или страниц в социальных сетях, связанных с сайтом LikeHerb.</div>
			</div>
		</div> <!-- /footer__inner -->
	</div> <!-- /Container -->
</footer>
